{% extends 'streetdreams_app/base.html' %}


{% block title %}
    Delete {{post.title}}
{% endblock title %}




{% block content %}
<br>
<h1>Delete Post</h1>
<hr>
<br>
<form action="" method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete: <em><strong>{{post.title | title}}?</strong></em></p>
    <button class="btn btn-primary btn-sm" type="submit">Delete</button>
</form>
<br>
<a class="btn btn-secondary btn-sm" href="{% url 'index' %}">Back</a>




{% endblock content %}
    