{% extends 'streetdreams_app/base.html' %}


{% block title %}
    Edit Profile Page
{% endblock title %}



{% block content %}
    <br>
    <h1>Edit Profile Page</h1>
    <hr>
    <br>
    {% if user.is_authenticated %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Update Profile Page</button>
    </form>
    <br>
    <a class="btn btn-secondary" href="{% url 'index' %}">Back</a>
    {% else %}
    <p>Please Log in to view this page.</p>

    {% endif %}

{% endblock content %}
    