{% extends 'streetdreams_app/base.html' %}


{% block title %}
    Home
{% endblock title %}




{% block content %}
<br>
{% if user.is_authenticated %}
    <p>Welcome, {{user | title}}!  <small><a href="{% url 'logout' %}">(Logout)</a></small></p>
    <a href="{% url 'edit_profile' %}">Edit Profile</a><br>
    <br>
{% else %}
    <a href="{% url 'login' %}">Login</a><br>
    <br>
{% endif %}
    <a href="{% url 'api' %}">VIN Number Info</a><br>
    <br>
{% if user.is_authenticated %}
    <a href="{% url 'create_post' %}">Add a Post</a><br>
    <br>
    <br>
{% endif %}
<h1>Blog Posts</h1>
<hr>
<br>
    
    <ul>
    {% for post in posts %}
        <li>
            <h6><a href="{% url 'post_details' post.id %}">{{post.title|title}}</a> - By {{post.user|title}}</h6>
            {% if user.id == post.user.id %}
            <a class="btn btn-primary btn-sm" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem;" href="{% url 'update' post.id %}">Edit</a>
            <a class="btn btn-primary btn-sm" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem;" href="{% url 'delete' post.id %}">Delete</a>
            {% endif %}
         <br><br>       
        </li>
        <br>
    {% endfor %}
    </ul>    

{% endblock content %}
    
    