{% extends 'streetdreams_app/base.html' %}


{% block title %}
    User Login
{% endblock title %}


{% block content %}
<br>
<h1>User Login</h1>
<hr>
<br>

    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary btn-sm" type="submit">Login</button>
    </form>
<br>
<p>Dont have an account? <a class="btn btn-primary btn-sm" href="{% url 'register' %}">Register</a></p>
<a class="btn btn-secondary btn-sm" href="{% url 'index' %}">Back</a>
{% endblock content %}
    