{% extends 'streetdreams_app/base.html' %}


{% block title %}
    User Login
{% endblock title %}


{% block content %}
<br>
<h1>User Login</h1>
<hr>
<div class="shadow p-3 mb-5 bg-body rounded">
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary btn-sm" type="submit">Login</button><br><br>
    </form>
</div>
<br>
<div class="shadow p-3 mb-5 bg-body rounded"><br>
    <h5>Dont have an account yet?</h5><br>
    <a class="btn btn-primary btn-sm" href="{% url 'register' %}">Register</a><br><br>
    <a class="btn btn-secondary btn-sm" href="{% url 'index' %}">Back</a><br><br>
</div>
{% endblock content %}