{% extends 'streetdreams_app/base.html' %}


{% block title %}
    {{post.title}}
{% endblock title %}




{% block content %}
    <br>
    <h4>{{post.title|title}}</h4> <p>- By {{post.user|title}} </p>
    <hr>
    <br>
    {{post.content}}
    {% if user.id == post.user.id %}
                <small><a href="{% url 'delete' post.id %}">Delete</a></small>
                <small><a href="{% url 'update' post.id %}">Edit</a></small>
    {% endif %}
    <br>
    <br>
    <a href="{% url 'index' %}">Back</a>
{% endblock content %}
    