{% extends 'streetdreams_app/base.html' %}


{% block title %}
    {{post.title}}
{% endblock title %}




{% block content %}
    <br>
    <h1>{{post.title|title}}</h1>
    <br>
    {% if post.user.profile.profile_pic %}
    <a href="{% url 'profile_page' post.user.profile.id %}"><img class="rounded-circle" width="100px" height="100px" src="{{post.user.profile.profile_pic.url}}" alt=""></a>
        
    {% endif %}
    <br><br>
    <p>Posted By: <a href="{% url 'profile_page' post.user.profile.id %}">{{post.user|title}}</a>
    </p>
    <p>Date Posted: {{post.created}}</p>
    <hr>
    <br>
    <p>profile mods: {{post.user.profile.mods}}</p>
    <br>
    <p>post content: {{post.content}}</p>
    {% if user.id == post.user.id %}
        <small><a href="{% url 'update' post.id %}">(Edit)</a></small>
        <small><a href="{% url 'delete' post.id %}">(Delete)</a></small>
    {% endif %}
    <br>
    <br>
    {% if post.image %}
        <img width="450px" height="550px" src="{{post.image.url}}" alt="" >    
    {% endif %}
    <br>
    <br>
    <a href="{% url 'index' %}">Back</a>
    <br>
    <br>
{% endblock content %}
    