{% extends 'streetdreams_app/base.html' %}


{% block title %}
{{user_profile|title}}'s Profile
{% endblock title %}


{% block content %}
<br>
<br>
<h1>{{user_profile|title}}'s Profile</h1>
<hr>
<br>
{% if profile.profile_pic %}
    <img class="rounded-circle" width="100px" height="100px" src="{{profile.profile_pic.url}}" alt="">
{% endif %}
<br><br>
<p>Username: {{user_profile|title}}</p>
<p>About me: {{user_profile.bio}}</p>
<p>Mods: {{user_profile.mods}}</p>
<br>
<br>
<a href="{% url 'index' %}">back</a>
{% endblock content %}
    