{% extends 'streetdreams_app/base.html' %}


{% block title %}
{{user_profile|title}}'s Profile
{% endblock title %}


{% block content %}
<br>
<br>
<h1>{{user_profile|title}}'s Profile</h1>
<hr>
<br>
{% if profile.profile_pic %}
    <a href="#"><img class="rounded-circle" width="100px" height="100px" src="{{post.user.profile.profile_pic.url}}" alt=""></a>
        
{% endif %}
<p>Username: {{user_profile|title}}</p><br>
<p>About Me: {{user_profile.bio}}</p>
<br>
<br>
<a href="{% url 'index' %}">back</a>
{% endblock content %}
    