{% extends 'streetdreams_app/base.html' %}


{% block title %}
    VIN Info
{% endblock title %}



{% block content %}
<br>
<h1>VIN Info</h1>
<hr>
<br>

<form action="" method="POST">
    {% csrf_token %}
      
    <div class="input-group mb-3">
    <input type="text" name="car" placeholder="Enter VIN">
    <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>

{% if make %}
<div class="shadow p-3 mb-5 bg-body rounded">
    <br>
    <h4>Info on the VIN number you submitted</h4>
    <hr>
    <p>Make: {{make}}</p>
    <p>Model: {{model}}</p>
    <p>Year: {{year}}</p>
    <p>Type: {{type}}</p>
    <p>Engine: {{engine | title}} {{cylinder}}</p>
    <p>Forced Induction: {{compressortype | title}}</p>
    <p>Horse Power: {{horsepower}}</p>
    <p>MPG Highway: {{highway}}</p>
    <p>MPG City: {{city}}</p>
</div>
{% elif not make %}
{{invalid}} <br><br>
{% endif %}
<a class="btn btn-secondary btn-sm" href="{% url 'index' %}">Back</a>
    

{% endblock content %}


    